
<html>
  <head>
    <title>Mocha - jQuery Validation Engine Tests</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%function render(f) {
        var m = f.match(/\.(\w+)$/);
        if(!m) return '';
        if(m[1] === 'js')
          return '<script type="text/javascript" src="../../' + f +'"></script>\n';
        if(m[1] === 'css')
          return '<link rel="stylesheet" href="../../' + f +'"/>\n';
        return '';
      }%>
    <!-- libs -->
    <%- expand('test/lib/*').map(render).join('    ') %>
    <!-- setup mocha (adds BDD methods) -->
    <script type="text/javascript">mocha.setup('bdd');</script>

    <!-- verifyjs -->
    <script type="text/javascript" src="../../dist/verify.js"></script>
    
    <%
      var manifest = read('dist/rules/manifest.json')
      var deps = [];
      parse(manifest).forEach(function(obj) {
        obj.dependencies.forEach(function(dep) {
          deps.push('dist/rules/'+obj.namespace+'/vendor/'+dep);
        });
      });
    %>
    <!-- rule manifest -->
    <script type="text/javascript">
      var MANIFEST = <%- manifest %>;
    </script>

    <!-- rules deps -->
    <%- deps.map(render).join('    ') %>
    <!-- rules -->
    <%- expand('dist/rules/*/*.js').map(render).join('    ') %>

    <!-- tests -->
    <%- expand('test/build/*.js').map(render).join('    ') %>

    <script type="text/javascript">
      afterEach(function() {
        $("#fixtures").empty();
      })

      var expect = chai.expect;
      var should = chai.should();
      var assert = function(expr, msg) {
        if (!expr) throw new Error(msg || 'failed');
      }

      $.verify({
        prompt: function(elem, text) {
          // console.info('PROMPT', text);
        }
      });

      if (navigator.userAgent.indexOf('PhantomJS') === -1)
        $(function() {
          mocha.run(function() {

            var errors = $(".test.fail h2").map(function() {
              var titles = $(this).parents('.suite').map(function() {
                return $(this).children("h1").text();
              }).toArray().reverse();
              titles.push($(this).text());
              return titles.join(' > ');
            }).toArray();

            var str = JSON.stringify(errors, null, 2);

            if(window['console'] && errors.length)
              console.warn(str);
          });
        });
    </script>

  </head>
  <body>
    <div id="mocha"></div>
    <div id="fixtures"></div>
  </body>
</html>
